<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373356265936-gafd77r3vb7r1e24pgdejpvshfjtcuon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373356265936-gafd77r3vb7r1e24pgdejpvshfjtcuon</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Gy2LbCd25UwOCfIU5yvEV3e3VbGu6nI</string>
	<key>GCM_SENDER_ID</key>
	<string>373356265936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qqq.rnfbchatapp</string>
	<key>PROJECT_ID</key>
	<string>rnfirebase-chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfirebase-chatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373356265936:ios:af911bc4546a039f4bb9d5</string>
	<key>DATABASE_URL</key>
	<string>https://rnfirebase-chatapp.firebaseio.com</string>
</dict>
</plist>